body{
    font-family:Segoe UI, Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f2f5 ;/*#f5f5f5 */
    /* background-image: url("../image/car_buses.png");
     background-size: contain; */
    
}
#booking{
    font-family:Segoe UI, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color:  #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../image/car_buses.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-size: 40px;
    text-align: center;
    color:maroon;/*#EA980E*/
    margin-bottom: 30px ;
}
h3{
    text-align: center;
}
p{
    font-size: medium;
    margin-bottom: 30px;
    text-align: center;
    
}
#paragraph{
    letter-spacing:2px;
    line-height: 1.7;
}
button{
    padding: 10px;
    color: #E6E6E6;
    background-color: #001F3D;
    /* border: 2px solid black; */
    cursor: pointer;
    border-radius: 12px;
    
}
button:hover{
    background-color: #E7DDD1;
    color: black;
}
#description{
    font-size: 20px;
}

#container{
    padding: 30px;
    background-color:  #ffffff;/*#79C9C5*/
    border-radius: 25px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.15);
   
    box-sizing: border-box;
    
}
form{
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 300px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 30px;
    width: 100%;
    box-sizing: border-box;
   
}
@media (max-width:300px){
    form{
        padding: 15px;
       

    }

    
}
#submit{
    background-color: navy;
    color: white;
    padding: 7px;
    width: 100%;
}


#herosection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    max-width: 100%;
    /* background-image: url("../image/car_buses.png");
     background-size:cover; */
}

/* 79C9C5 */
/* #FFFDE1 */



section{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.cards{
    padding: 15px;
    background-color: white;
    color: #EA980E;
    border-radius: 20px;
    box-shadow: 8px 8px 8px rgb(28, 28, 28);
    max-width: 250px;
    text-align: center;
    transition: all 0.4s ease-in-out 0s ;
   
}
.cards:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px rgb(28, 28, 28);;
  
}

.heroimage{
    max-width: 470px;
    height: 220px;
    width: 100%;
    margin-top : 20px ;
}